:root {
  --yellow-color: #F4ad03;
}
.bgYellow { background-color: var(--yellow-color); }
.bgWhite { background-color: white; }
.bgBlue { background-color: #07adbd; }
.bgRed {background-color: #e22211;color: black !important;}
.bgBrown { background-color: #250401; }
body {
     font-family: "Poppins", sans-serif;
     font-weight: 400;
     font-style: normal;
     margin: 0;
     padding: 0;
     /* font-family: 'Berlin Sans FB', sans-serif; */
     color: #f3f2de;
     /* font-family: Arial; */
     background-color: #dbdad9;
     user-select: none;
     /* display: none; */
     }
.header {background-color: white;/* height: 50px; */padding: 5px 10px;font-size: 13px;color: black;/* position: fixed; *//* width: 100%; */}
.flex {display: flex;}
.flex1 { flex: 1; }
.flex2 { flex: 2; }
.flex3 { flex: 3; }
.section1 .flex3 { display: none; }
.header .name {font-weight: 600;margin: 0;cursor: initial;background: url(../images/logo.png);width: 122px;height: 51px;background-size: contain;background-repeat: no-repeat;margin-top: 10px;display: inline-block;/* float: left; */position: absolute;}
.header span {margin: 0px 10px;line-height: 61px;cursor: pointer;height: 30px;font-weight: 700;}
.btnGradient {padding: 10px 15px;margin-left: 10px;/* background: #f3f2de; */cursor: pointer;border: 1px solid #00000000;border-radius: 19px;/* background-color: #e22211; */color: #f3f2de;/* transition: 1s; */font-size: 13px;font-weight: 600;}
.bgBlack {/* background-color: black; *//* height: 450px; */color: #f3f2de;margin: 0 auto;text-align: center;padding: 80px 40px 80px 40px;/* font-size: 24px; */}
.bgBlack .title {
    line-height: 30px;
}
.bgBlack .subtitle {
    font-size: 14px;
    opacity: 80%;
    margin-top: 7px;
}
.video {
    margin-top: 30px;
    border-radius: 50px;
    width: 650px;
    height: 400px;
    max-width: 85%;
}
.reserve {/* background-color: #f2f2f2; */padding: 67px;padding-top: 50px;text-align: center;color: #f3f2de;display: none;margin: 20px;border-radius: 15px;}
.reserve .title, .title {
    font-weight: 600;
    font-size: 22px;
}
.reserve .title {
    color: var(--yellow-color);
    text-align: left;
    font-weight: 500;
    font-size: 20px;
}
.reserve .title2 {
    font-weight: 700;
    font-size: 23px;
}
.calendy {/* background-color: black; *//* color: #f3f2de; *//* font-size: 13px; *//* padding: 181px 45px; */margin: 20px 0px;border-radius: 20px;}
.partner {
    margin-top: 70px;
    font-size: 13px;
    /* font-weight: 600; */
}
.round {background-color: black;width: 35px;height: 35px;display: inline-block;border-radius: 100%;margin: 10px 10px;}
.aboutUs {
    padding-bottom: 50px;
    color: black;
    display: none;
}
.aboutUs .title {
    text-align: center;
    padding: 50px;
}
.aboutUs .image {
    background: black;
    height: 300px;
    background: url(../images/aboutUs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.aboutus .subtitle {font-size: 14px;font-weight: 600;}
.aboutus .content {
    padding: 55px;
    padding-right: 120px;
}
.aboutus .right .text {
    margin: 7px 0;
    margin-bottom: 20px;
    font-size: 14px;
}
.aboutus button {
    color: #f3f2de;
    /* background: black; */
    padding: 20px 40px;
    border-radius: 5px;
}
.aboutus .footer {
    font-size: 12px;
    text-align: center;
    /* font-weight: 600; */
    margin-top: 50px;
}
.footer .round {
    width: 25px;
    height: 25px;
    margin: 15px;
}
.footer .text {
    font-size: 10px;
    font-weight: 500;
}
button { cursor: pointer; }
.partners {/* background-color: #f2f2f2; */padding: 50px;color: black;background-color: white;display: none;}
.iPartner {
    /* border: 2px solid #949494; */
    display: inline-block;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 12px;
    background: #07adbd;
    /* color: black; */
}
.partners .bold {
    font-size: 15px;
    width: 50%;
    margin-left: 45px;
    margin-top: 5px;
    font-weight: 200;
}
.links {
    border-bottom: 2px solid #383838;
    padding-bottom: 7px;
    /* font-weight: 600; */
    font-size: 10px;
    margin-bottom: 25px;
}
.links a.great {
    font-size: 14px;
    margin-top: -5px;
    background: url(logo.png);
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
}
.links a {
    display: inline-block;
    margin: 0 13px;
    cursor: pointer;
    vertical-align: text-top;
}
.partners .footer {
    text-align: center;
    margin: 70px 40px 0;
}
.years {margin-top: 30px;font-size: 10px;}
.partners .round {
    background-color: transparent;
    border: 1px solid black;
    margin: 3px;
    height: 20px;
    width: 20px;
}
.warning {background-color: #F4ad03;background-color: var(--yellow-color);color: black;padding: 10px 30px;text-align: center;font-size: 12px;}
.close {
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid black;
    color: white;
    background-color: black;
    float: right;
    top: 7px;
    position: absolute;
    right: 7px;
    font-size: 20px !important;
}
.divIcoPhone {bottom: 10px;top: auto;position: fixed;/* height: 20px; */border: none;/* width: 20px; */padding: 7px;border-radius: 100%;font-size: 20px !important;box-shadow: -2px 0px 10px -2px #ff040440;right: 10px;/* bottom: 0; *//* background-color: #e34c0d; *//* border: 1px solid #ebe2d296; */cursor: pointer;background: url("../images/icoPhone.png");width: 40px;height: 40px;background-size: contain;transition: 1s;}
.icoPhone {border: 1px solid white;border-radius: 100%;padding: 10px;}
.whiteBorder {
    border: 1px solid white;
    width: 40px;
    height: 40px;
    display: block;
    position: absolute;
    border-radius: 100%;
    top: 10px;
    left: 11px;
}
.header .link {
    border-bottom: 1px solid transparent;
    transition: 1.5s;
    transition: 1s;
    /* user-select: none; */
}
.header .link:beforex {
    content: "aasdfasdf";
    left: 90px;
    bottom: -6px;
    height: 2px;
    width: 57%;  /* or 100px */
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    width: 20px;
    color: transparent;
  }
.header .link:hover {border-bottom: 1px solid #c0c0c0ab;/* filter: opacity(0.7); *//* font-size: 16px; */color: red;}
         
.btnGradient {
    background-image: linear-gradient(to right, #E22211 0%, #EDDE5D  71%, #F4AD03 100%);
    margin: 10px;
    /* padding: 15px 45px; */
    text-align: center;
    /* text-transform: uppercase; */
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 4px #eee;
    /* border-radius: 10px; */
    display: block;
    background-image: linear-gradient(to right, #E22211 -18%, #E7AD03 62%, #F4AD03 100%);
  }

  .btnGradient:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    /* background-position: bottom; */
    background-color: red;
    background-image: linear-gradient(to right, #E22211 0%, #E22211 55%, #E22211 100%);
    /* background-image: linear-gradient(to right, #E22211 0%, #EDDE5D  146%, #F4AD03 100%); */
    /* transition: 2s; */
    /* background-position: left; */
    background-image: linear-gradient(to right, #ff0000 0%, #f4a000 23%, red 100%);
  }
 
.section1 {
    padding: 130px 0px 15px 40px;
    background-image: url("../images/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: auto; */
    color: black;
    background-color: #d2d2d2;
    margin: 0 auto;
    text-align: center;
    /* display: none; */
}
.section1 .left {
    /* vertical-align: bottom; */
    /* height: 300px; */
    margin-top: 115px;
    display: none;
}
.section1 .title {
    text-align: left;
    line-height: 28px;
}
.section1 button {}
.section1 button, .btnLarge 
{width: 100%;margin-left: 0;max-width: 200px;margin: 20px auto;}
.section2 {
    background-color: white;
    padding: 25px;
    margin: 20px;
    /* border: 1px solid black; */
    border-radius: 15px;
    text-align: center;
    color: black;
    font-weight: 700;
    display: none;
}
.section2 p {
    margin: 0;
    margin-bottom: 2px;
}
.section2 button {
    margin: 0 auto;
    margin-top: 20px;
    display: block;
}
.calendy iframe {
    width: 100%;
    height: 500px;
    border-radius: 27px;
    border: none;
    box-shadow: 0px 0px 23px 0px #9356e1;
    /* height: 100%; */
    overflow: auto;
    overflow-clip-margin: inherit;
    /* overflow: hidden; */
}
.shadowBorder {
    border-bottom: 1px solid #dddddd;
    color: transparent;
    position: relative;
    left: 151px;
    transition: 0s;
    padding: 0 18px;
    /* float: right; */
    height: 5px !important;
    z-index: 0;
    top: 42px;
 }
 .shadow2 {
    left: 222px;
}
.topFixed {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.divLogo {
    /* margin-right: 35px; */
    flex: 1;
}
.header .btnGradient {
    margin-right: 0;
}
.hide { display: none; }
.divIcoPhone:hover {
    filter: brightness(1.3);
}
.section1 .line2 {
    color: #8f8f8f;
    font-weight: 600;
    font-size: 14px;
    margin-top: 80px;
    display: none;
    text-align: center;
}
.section1 .line2 .image {height: 52px;display: inline-block;/* max-width: 112px; */width: 147px;background-repeat: no-repeat;background-size: contain;position: relative;margin: 0 20px;}
#imgAgefit {background-image: url("../images/AGEFIT.png");margin: 0;top: 2px;}
#imgDPM {background-image: url("../images/DMP.png");margin: 0;height: 20px;top: -15px;width: 95px;}
#imgMaitacon {background-image: url("../images/MAITACON.png");margin-top: 10px;height: 22px;width: 150px;top: -12px;margin-right: 7px;}
#imgFoton {background-image: url("../images/FOTON2.png");height: 50px;width: 150px;top: 3px;}
.section1 .line2 .image:first-child { margin-left: 0; }
.section1 .line2 .image:last-child { margin-right: 0; }
.titleYellow {
    color: #f3ac13;
    font-size: 22px;
    margin-top: 3px !important;
    /* font-weight: 700; */
}
.iconsSteps {margin-top: 50px;margin-bottom: 50px;}
.iconsSteps i {border: 1px solid #b5b5b536;border-radius: 45%;padding: 40px 35px;box-shadow: -2px 8px 14px -8px #676767;margin: -2px;font-style: normal;font-size: 20px;background-color: #e3e3e3;cursor: pointer;}
.iconsSteps i:hover {
    filter: drop-shadow(10px 10px 32px #ddd);
    /* filter: unset; */
    padding: 45px;
}
.steps {
    padding: 20px 85px;
}
.steps .step {}
.steps .step .left {
    border-radius: 20px 0 0  20px;
    text-align: right;
}

.steps .step .hover .left { border-radius: 40px 0 0  40px; }
.steps .step .hover .right { border-radius: 0 40px 40px 0; }
.steps .step .hover div {
    padding: 75px 50px;
}
.step .icon {background-repeat: no-repeat;background-size: contain;width: 12px;height: 12px;display: inline-block;margin-right: 5px;}
.icon.users {background-image: url(../images/users.png);}
.icon.chains {background-image: url(../images/chain.png);}
.icon.star {background-image: url(../images/star.png);}
.icon.graph {background-image: url(../images/graph.png);}
.icon.email {background-image: url(../images/email.png);}
.icon.hands {background-image: url(../images/hands.png);}
.step1 .hover .bomb {  }
.steps .step .right {
    border-radius: 0 20px 20px 0;
    text-align: left;
}
.step1 .background {
    background-image: url(../images/brown.png);
    background-size: cover;
    color: white;
}
.step1 .title {
    color: #f3ac13;
    text-align: left;
    position: relative;
    top: 2px;
    left: 50px;
}
.step2 .title {
    text-align: right !important;
    color: black !important;
    left: inherit !important;
    right: 50px;
}
.step3 .title {
    color: red !important;
}
.step .title {
    color: #f3ac13;
    text-align: left;
    position: relative;
    top: 5px;
    left: 50px;
}
.reserve .bgGray {
    padding: 30px 60px;
    border-radius: 30px;
    margin-top: 30px;
}
.bgGray {
    background-color: #e3e3e3;
}
.step .box {
    border-radius: 40px;
    font-weight: 500;
    font-size: 13px;
    box-shadow: -1px 5px 31px -10px #535353;
    background-color: transparent;
}

.step .box:hover {
    /* font-size: 14px; */
}
.step .box div {
    padding: 50px;
    transition: 0.3s;
    /* border: 1px solid #d7d7d7; */
    /* filter: drop-shadow(2px 4px 6px black); */
}
.step .bomb {background-image: url(../images/yellowBomb.png);width: 60px;height: 60px;background-size: contain;background-repeat: no-repeat;rotate: 45deg;position: absolute;left: calc(50% - 20px);z-index: 1;transition: 2s;}
.step1 .bomb {background-image: url(../images/yellowBomb.png);width: 60px;height: 60px;background-size: contain;background-repeat: no-repeat;rotate: -45deg;position: absolute;left: calc(50% - 32px);/* margin-top: 7%; *//* top: 42px; *//* padding-top: 25px; *//* transition: 0.5s; */}
.step2 .bomb {background-image: url(../images/blackBomb.png);width: 60px;height: 60px;background-size: contain;background-repeat: no-repeat;rotate: 45deg;position: absolute;left: calc(50% - 18px);}
.step3 .bomb {background-image: url(../images/redBomb.png);rotate: -45deg;left: calc(50% - 32px);}