body {margin: 0;padding: 0;font-family: sans-serif;}
.header {background-color: white;/* height: 50px; */padding: 10px 20px;font-size: 15px;}
.flex { display: flex; }
.flex1 { flex: 1; }
.header .name {font-weight: 600;margin: 0;cursor: initial;}
.header span {margin: 0px 10px;line-height: 28px;cursor: pointer;}
.header button {padding: 5px 10px;margin-left: 10px;background: white;cursor: pointer;}
.bgBlack {background-color: black;height: 325px;color: white;margin: 0 auto;text-align: center;padding: 80px 40px 0 40px;font-size: 24px;}
.bgBlack .title {
    line-height: 30px;
}
.bgBlack .subtitle {
    font-size: 14px;
    opacity: 80%;
    margin-top: 7px;
}
.video {
    margin-top: 30px;
}
.reserve {background-color: #f2f2f2;padding: 100px;padding-top: 185px;text-align: center;}
.reserve .title, .title {
    font-weight: 700;
    font-size: 18px;
}
.calendy {background-color: black;color: white;font-size: 13px;padding: 181px 45px;margin: 40px;}
.partner {
    margin-top: 70px;
    font-size: 13px;
    font-weight: 600;
}
.round {background-color: black;width: 35px;height: 35px;display: inline-block;border-radius: 100%;margin: 10px 10px;}
.aboutUs {
    padding-bottom: 50px;
}
.aboutUs .title {
    text-align: center;
    margin: 50px;
}
.aboutUs .image {
    background: black;
    height: 300px;
    background: url(https://thumbs.dreamstime.com/b/business-man-standing-confident-smile-portrait-successful-suit-smiling-proud-outdoors-44304293.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.aboutus .subtitle {font-size: 14px;font-weight: 600;}
.aboutus .content {
    padding: 55px;
    padding-right: 120px;
}
.aboutus .right .text {
    margin: 7px 0;
    margin-bottom: 20px;
    font-size: 14px;
}
.aboutus button {
    color: white;
    background: black;
    padding: 20px 40px;
    border-radius: 5px;
}
.aboutus .footer {
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    margin-top: 50px;
}
.footer .round {
    width: 25px;
    height: 25px;
    margin: 15px;
}
.footer .text {
    font-size: 10px;
    font-weight: 500;
}
button { cursor: pointer; }
.partners { background-color: #f2f2f2; padding: 50px; }
.iPartner {
    border: 2px solid #949494;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 5px;
    font-size: 12px;
}
.partners .bold {
    font-size: 15px;
    width: 50%;
    margin-left: 45px;
}
.links {
    border-bottom: 2px solid #6b6b6b;
    padding-bottom: 7px;
    font-weight: 600;
    font-size: 10px;
    margin-bottom: 25px;
}
.links a.great {
    font-size: 14px;
    margin-top: -5px;
}
.links a {
    display: inline-block;
    margin: 0 13px;
    cursor: pointer;
    vertical-align: text-top;
}
.partners .footer {
    text-align: center;
    margin: 70px 40px 0;
}
.years {margin-top: 30px;font-size: 10px;}
.partners .round {
    background-color: transparent;
    border: 1px solid black;
    margin: 3px;
    height: 20px;
    width: 20px;
}